{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static "/css/aboutus.css" %}">
  <div class="aboutcontainer">
    <img class="photofounder" src="{% static "/image/finalphoto.jpg" %}" alt="">
    <br>
    <br>
    <h1 class="foundertext">Founder Of Apna Restaurant</h1>
    <h2 class="foundertext">--> Jaber Ahmed Riyan</h2>
    <br>
    <br>
    <h5 class="foundertext">Description : </h5>
    <p class="foundertext">🌟 Welcome to [Apna Restaurant] - Where Culinary Delights Meet Unforgettable Moments! 🌟
      <br>
      <br>
      At [Apna Restaurant], we believe that every meal is an opportunity to create lasting memories.<br> Nestled in the heart of [Sunamgonj], our culinary haven is a celebration of flavors, culture, and community.
      <br>
      <br>
      🍽️ Exquisite Cuisine:<br>
      Indulge your senses with our meticulously crafted menu, where every dish is a symphony of fresh,<br> locally sourced ingredients and inspired culinary expertise. From sizzling starters to decadent desserts,<br> our chefs strive to elevate your dining experience to new heights.
      <br>
      <br>
      🌿 Farm-to-Table Philosophy :<br>
      We take pride in our commitment to sustainability. Embracing a farm-to-table philosophy,<br> we forge partnerships with local farmers and artisans to bring you the freshest, seasonal ingredients.<br> Our dedication to quality and responsibility is reflected in every mouthwatering bite.
      <br><br>
      🌈 Warm Ambiance:<br>
      Step into a world of warmth and hospitality as our inviting ambiance sets the stage for intimate dinners,<br> lively gatherings, and special occasions. Whether you're sharing a meal with loved ones or hosting a business luncheon,<br> [Apna Restaurant] offers a versatile and welcoming space for every occasion.
      <br><br>
      👨‍🍳 Passionate Culinary Team:<br>
      Behind every delightful dish is a team of passionate and skilled chefs dedicated to creating culinary masterpieces that cater to diverse palates.<br> From traditional favorites to innovative creations, our chefs infuse each recipe with creativity and a love for the art of cooking.
      <br><br>
      🌟 Exceptional Service:<br>
      At [Apna Restaurant], we take pride in delivering not just meals but experiences. Our attentive and friendly staff is here to ensure<br> that your time with us is nothing short of exceptional. From recommendations to dietary accommodations, your satisfaction is our top priority.
      <br><br>
      🎉 Events and Celebrations:<br>
      Elevate your celebrations with our event hosting services. Whether it's a birthday, anniversary, or corporate gathering, our team is dedicated<br> to turning your special moments into unforgettable experiences. Customize your event with personalized menus and attentive service.
      <br><br>
      🍷 Fine Wines and Spirits:<br>
      Complement your meal with a carefully curated selection of fine wines and spirits. Our beverage menu is designed<br> to enhance the flavors of our dishes, offering a perfect pairing for every palate.
      <br><br>
      🌐 Connect With Us:
      Follow us on social media to stay updated on our latest offerings, events, and culinary adventures.
      <br><br>
      📍 Visit Us Today:<br>
      [Apna Restaurant]<br>
      [Sunamgonj,Sylhet]<br>
      [+017********]
      <br><br>
      Embark on a culinary journey like no other at [Apna Restaurant]. We invite you to savor the moment,<br> share the joy, and create memories that linger long after the last bite.
      <br><br>
      Bon appétit! 🍽️✨</p>
  </div>
{% endblock content %}